@model Inventario.Models.Factura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.urlDeFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urlDeFactura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numeroDeFactura }) |
    @Html.ActionLink("Back to", "Index")
</p>
