@model Inventario.Models.Usuario

@{
    ViewBag.Title = "Pagina Principal";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Pagina de inicio</h2>
<h3>
    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col" })
</h3>
