body {
}

.bgNaranja {
    background-color: #F9D9AA;
}

.negro{
    background-color:black;
}

.titulo {
    padding-top:30px;
    padding-bottom:30px;
}

.padin{
    padding-left:5px;
    padding-right:5px;
}

.alineado{
   top:25px;
}

.negrita{
    font-size:30px ;
   
}